# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [59]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [60]:
# load messages dataset
messages = pd.read_csv(filepath_or_buffer="data/messages.csv")
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [61]:
# load categories dataset
categories = pd.read_csv(filepath_or_buffer="data/categories.csv")
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [62]:
print("Messages null values: {}".format(messages["id"].isnull().sum()))
print("Categories null values: {}".format(categories["id"].isnull().sum()))

print("Messages unique: {}".format(messages["id"].nunique() == messages.shape[0]))
print("Categories unique: {}".format(categories["id"].nunique() == categories.shape[0]))

print("Messages duplicated: {}".format(messages.duplicated().sum()))
print("Categories duplicated: {}".format(categories.duplicated().sum()))

Messages null values: 0
Categories null values: 0
Messages unique: False
Categories unique: False
Messages duplicated: 68
Categories duplicated: 32

In [63]:
messages.drop_duplicates(inplace=True)
categories.drop_duplicates(inplace=True)
print("Messages duplicated: {}".format(messages.duplicated().sum()))
print("Categories duplicated: {}".format(categories.duplicated().sum()))
print("Messages unique: {}".format(messages["id"].nunique() == messages.shape[0]))
print("Categories unique: {}".format(categories["id"].nunique() == categories.shape[0]))

Messages duplicated: 0
Categories duplicated: 0
Messages unique: True
Categories unique: False

In [64]:
categories.shape[0]

26216

In [65]:
categories["id"].nunique()

26180

In [66]:
print("Categories duplicated: {}".format(categories["id"].duplicated().sum()))

Categories duplicated: 36

In [67]:
categories[categories["id"].duplicated()]

          id                                         categories
163      202  related-1;request-1;offer-0;aid_related-1;medi...
710      862  related-1;request-0;offer-0;aid_related-0;medi...
1408    1652  related-1;request-1;offer-0;aid_related-1;medi...
2825    3250  related-1;request-1;offer-0;aid_related-0;medi...
3374    3882  related-1;request-1;offer-0;aid_related-1;medi...
4341    4956  related-0;request-0;offer-0;aid_related-0;medi...
4522    5153  related-1;request-0;offer-0;aid_related-1;medi...
5072    5776  related-1;request-0;offer-0;aid_related-0;medi...
5607    6393  related-0;request-0;offer-0;aid_related-0;medi...
5697    6492  related-0;request-0;offer-0;aid_related-0;medi...
5720    6515  related-1;request-1;offer-0;aid_related-0;medi...
5878    6687  related-0;request-0;offer-0;aid_related-0;medi...
6844    7747  related-0;request-0;offer-0;aid_related-0;medi...
7037    7945  related-1;request-1;offer-0;aid_related-1;medi...
7264    8190  related-1;request-1;offer-0;aid_related-1;medi...
9162   10286  related-1;request-1;offer-0;aid_related-1;medi...
10102  11503  related-1;request-1;offer-0;aid_related-1;medi...
10822  12416  related-1;request-0;offer-0;aid_related-1;medi...
10827  12420  related-1;request-0;offer-0;aid_related-1;medi...
12052  13914  related-1;request-0;offer-0;aid_related-0;medi...
12163  14135  related-1;request-1;offer-0;aid_related-1;medi...
13206  15760  related-0;request-0;offer-0;aid_related-0;medi...
13645  16245  related-1;request-0;offer-0;aid_related-1;medi...
14686  17385  related-1;request-0;offer-0;aid_related-0;medi...
14837  17553  related-1;request-0;offer-0;aid_related-0;medi...
16086  18925  related-1;request-0;offer-0;aid_related-0;medi...
16156  19003  related-1;request-0;offer-0;aid_related-1;medi...
16281  19142  related-1;request-0;offer-0;aid_related-1;medi...
16769  19687  related-1;request-0;offer-0;aid_related-0;medi...
19625  22858  related-1;request-0;offer-0;aid_related-0;medi...
20876  24247  related-1;request-0;offer-0;aid_related-1;medi...
20966  24347  related-1;request-0;offer-0;aid_related-1;medi...
22028  25512  related-1;request-0;offer-0;aid_related-1;medi...
24040  27768  related-1;request-0;offer-0;aid_related-0;medi...
24648  28462  related-1;request-0;offer-0;aid_related-1;medi...
25156  29022  related-1;request-0;offer-0;aid_related-1;medi...

In [68]:
categories[categories["id"] == 862]

      id                                         categories
709  862  related-0;request-0;offer-0;aid_related-0;medi...
710  862  related-1;request-0;offer-0;aid_related-0;medi...

In [69]:
# merge datasets
df = messages.merge(categories, how="inner", on="id")
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [70]:
# create a dataframe of the 36 individual category columns
categories = categories.categories.str.split(";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [71]:
# select the first row of the categories dataframe
row = categories.iloc[0,:]

In [72]:
row

0                    related-1
1                    request-0
2                      offer-0
3                aid_related-0
4               medical_help-0
5           medical_products-0
6          search_and_rescue-0
7                   security-0
8                   military-0
9                child_alone-0
10                     water-0
11                      food-0
12                   shelter-0
13                  clothing-0
14                     money-0
15            missing_people-0
16                  refugees-0
17                     death-0
18                 other_aid-0
19    infrastructure_related-0
20                 transport-0
21                 buildings-0
22               electricity-0
23                     tools-0
24                 hospitals-0
25                     shops-0
26               aid_centers-0
27      other_infrastructure-0
28           weather_related-0
29                    floods-0
30                     storm-0
31                      fire-0
32                earthquake-0
33                      cold-0
34             other_weather-0
35             direct_report-0
Name: 0, dtype: object

In [73]:
# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything
# up to the second to last character of each string with slicing
def extract_name(column_name):
   return column_name[0:-2]

category_colnames = row.apply(extract_name)
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [74]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [75]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [76]:
print("Records duplicated: {}".format(df.duplicated().sum()))

Records duplicated: 0

In [77]:
# drop the original categories column from `df`
df.drop("categories", axis=1, inplace=True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [78]:
print("Records duplicated: {}".format(df.duplicated().sum()))

Records duplicated: 36

In [79]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df.reset_index(drop=True), categories.reset_index(drop=True)], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [80]:
# check number of duplicates
assert len(df[df.duplicated()]) == 0

# There are no duplicates as we removed them earlier when performing the initial merge. It is a good policy to always check uniqueness before doing a merge.

print("Records duplicated: {}".format(df.duplicated().sum()))

Records duplicated: 0

In [81]:
# drop duplicates

# There are no duplicates as we removed them earlier when performing the initial merge. It is a good policy to always check uniqueness before doing a merge.

In [82]:
# check number of duplicates

# There are no duplicates as we removed them earlier when performing the initial merge. It is a good policy to always check uniqueness before doing a merge.

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [83]:
engine = create_engine('sqlite:///disaster.db')
#engine = create_engine("sqlite+pysqlite:///:memory:")

In [84]:
df.to_sql('model_data', engine, if_exists='replace')

26216

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.